@model IList<CursachPrototype.Models.Accounting.DataBaseInfo>

@{
    ViewBag.Title = "Личный кабинет";
}

<h2>Личный профиль</h2>
<strong>Вам доступно @Model.Count баз данных</strong>

<br />
<br />

<div class="horizontal-container">
    <div class="left">
        <table>
            <tr>
                <th>
                    Имя
                </th>
                <th>
                    Дата создания
                </th>
                <th>
                    СУБД
                </th>
                <th>
                    Строка подключения
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfCreating)
                    </td>
                    <td>
                        @item.DbmsType.ToString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConnectionString)
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "Delete", new {id = item.Id})
                    </td>
                    <td>
                        @Ajax.ActionLink("Запрос", "ExecuteQuery", new {item.Id}, new AjaxOptions {UpdateTargetId = "queryResult"})
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="left" id="queryResult">
       
    </div>
</div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
}
