@model IList<DataProxy.DbManangment.DataBaseInfo>

@{
    ViewBag.Title = "Личный кабинет";
}


<div class="container">
    <h2 class="text-center">Личный профиль</h2>
    <p class="text-center">Вам доступно @Model.Count баз данных</p>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Имя
                    </th>
                    <th>
                        Дата создания
                    </th>
                    <th>
                        СУБД
                    </th>
                    <th class="text-center">
                        Действия
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int num = 0;
                    foreach (var item in Model)
                    {
                        num++;
                        <tr>
                            <th>@num</th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfCreating)
                            </td>
                            <td>
                                @item.DbmsType.ToString()
                            </td>
                            <td>
                                <div class="text-center">
                                    <div class="btn-group">
                                        @Ajax.ActionLink("Строка подключения", "ShowConnectionString", new { item.Id }, new AjaxOptions { UpdateTargetId = "ajax" }, new { @class = "btn btn-info btn-xs" })
                                        @Ajax.ActionLink("Удалить", "Delete", new { item.Id }, new AjaxOptions { UpdateTargetId = "ajax" }, new { @class = "btn btn-info btn-xs" })
                                        @Ajax.ActionLink("Запрос", "ExecuteQuery", new { item.Id }, new AjaxOptions { UpdateTargetId = "ajax" }, new { @class = "btn btn-info btn-xs" })
                                        @Html.ActionLink("Редактировать", "Index", "DisplayTable", new { dbId = item.Id, userId = ViewBag.UserId }, new { @class = "btn btn-info btn-xs" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                       }
                }
            </tbody>
        </table>
    </div>
</div>

<div id="ajax"></div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/CopyToClipboard.js")"></script>
}
