@model CursachPrototype.ViewModels.AnonymousDbVm
@{
    ViewBag.Title = "Анонимное создание БД";
}

<script type="text/javascript">
    function SetName() {
        var textBox = $('#DbName');
        textBox.empty();

        var ticks = (new Date().getTime());
        var name = "db" + ticks + "_Anon";
        textBox.val(name);
    }
</script>

<div class="container">
    <h2 class="text-center">Созданиние анонимной базы данных</h2>

    @using (Html.BeginForm("CreateAnonymousDb", "CsDispatcher", FormMethod.Post, new { @id = "mainForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="col-md-6 col-md-offset-3 form-group text-center">
            @Html.LabelFor(m => m.DataBaseName, "Название:")
            <div class="input-group ">
                @Html.TextBoxFor(m => m.DataBaseName, new { @class = "form-control", @id = "DbName" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="SetName()">Сгенерировать</button>
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.DataBaseName)
        </div>
        <br />
        <div class="col-md-6 col-md-offset-3 form-group text-center">
            @Html.LabelFor(m => m.StoreHours, "Время жизни базы данных (в часах)")<br/>

            @Html.EditorFor(m => m.StoreHours, new { @class = "form-control input-number " })
            @Html.ValidationMessageFor(m => m.StoreHours)
        </div>
        <div class="col-md-6 col-md-offset-4 radio-inline">
            @foreach (string server in Model.AvailableServers)
                {
                <label>
                    @Html.RadioButtonFor(m => m.SelectedServer, server)
                    @server
                </label>
            }
            @Html.ValidationMessageFor(m => m.SelectedServer)
        </div>
    }
</div>

<button type="submit" class="btn btn-default center-block" form="mainForm">Создать</button>

@section Scripts{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
}