@model CursachPrototype.ViewModels.ProtectedDbVm

@{
    ViewBag.Title = "Создание БД";
}
<h2>Созданиние базы данных</h2>
<p>Укажите параметры базы данных</p>

@using (Html.BeginForm("CreateProtectedDb", "CsDispatcher", FormMethod.Post))
{
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @Html.LabelFor(m => m.DataBaseName , "Введите название базы данных")<br/>
        @Html.TextBoxFor(m => m.DataBaseName)
        @Html.ValidationMessageFor(m => m.DataBaseName)
        <br/>

        @Html.LabelFor(m => m.DataBaseName, "Введите пароль для базы данных")<br />
        @Html.TextBoxFor(m => m.DataBasePassword)
        @Html.ValidationMessageFor(m => m.DataBasePassword)
        <br />
        @foreach (string server in Model.AvailableServers)
        {
            @Html.RadioButtonFor(m => m.SelectedServer, server)
            @Html.LabelFor(m => m.SelectedServer, server)
            @Html.ValidationMessageFor(m => m.SelectedServer)
        }

        <div>
            <input type="submit"/>
        </div>
    </fieldset>
}