@model CursachPrototype.ViewModels.AnonymousDbVm
@{
    ViewBag.Title = "Анонимное создание БД";
}

<script type="text/javascript">
    function OnSuccess(data) {
        var textBox = $('#DbName');
        textBox.empty();
        textBox.val(data);
    }
</script>

<h2>Созданиние анонимной базы данных</h2>
<p>Укажите параметры базы данных</p>

@using (Html.BeginForm("CreateAnonymousDb", "CsDispatcher", FormMethod.Post))
{
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @Html.LabelFor(m => m.DataBaseName, "Введите название базы данных")<br />
        @Html.TextBoxFor(m => m.DataBaseName, htmlAttributes: new { id = "DbName" })
        <!--<button type="submit" name="action" value="getName">Получить имя</button>-->
        @Html.ValidationMessageFor(m => m.DataBaseName)
        <br />

        @Html.LabelFor(m => m.StoreHours, "Время жизни базы данных (в часах)")<br />
        @Html.EditorFor(m => m.StoreHours)
        @Html.ValidationMessageFor(m => m.StoreHours)
        <br />
        @foreach (string server in Model.AvailableServers)
        {
            @Html.RadioButtonFor(m => m.SelectedServer, server)
            @Html.LabelFor(m => m.SelectedServer, server)
            @Html.ValidationMessageFor(m => m.SelectedServer)
        }
        <br />
        <button name="action" type="submit" value="create">Отправить</button>
    </fieldset>
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
}
