@model String

@{
    ViewBag.Title = "Строка подключения";
}

<h2>Используйте строку подключения</h2>
<p style="font-size: 18pt" id="connectionString">@Model</p>
<button onclick="copyToClipboard('connectionString')">Скопировать</button>

<!--Popup with message that connection string was copied-->
<div class="b-popup" id="popup1" style="display: none">
    <div class="b-popup-content">
        <strong>
            Скопированно в <br/>  буфер обмена
        </strong>
    </div>
</div>

<div>
    @Html.Partial(@"~\Views\Query\QueryExecutor.cshtml", Model)
</div>


@section Scripts{
    <script src="@Url.Content("~/Scripts/Popup.js")"></script>
    <script src="@Url.Content("~/Scripts/CopyToClipboard.js")"></script>
}

@section Styles{
    <link href="@Url.Content("~/Content/Styles/Popup.css")" rel="stylesheet" type="text/css">
}