@model CursachPrototype.ViewModels.QueryExecutorVm

@using (Ajax.BeginForm("QueryExecutor", "Query", new AjaxOptions { UpdateTargetId = "results" }))
{
    @Html.HiddenFor(m => m.DbId)
    <fieldset>
        @Html.LabelFor(m => m.DbName, "База данных: ")
        @Html.DisplayFor(m => m.DbName)
        <br />
        @Html.LabelFor(m => m.Query, "Запрос: ")<br />
        @Html.TextArea("query")

        <div>
            <input type="submit" />
        </div>
    </fieldset>
}

<div id="results">
    @Html.DisplayFor(m => m.QueryResult)
</div>


@section Scripts{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
}