@using System.Data
@using System.Globalization
@using CursachPrototype.ExtensionMethods
@model DataTable

<h2>@ViewBag.StatusMessage</h2>
<div class="horizontal-container">
    <div class="left">
        <table>
            <thead>
                <tr>
                    @foreach (DataColumn dc in Model.Columns)
                    {
                        <th>@dc.ColumnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow dr in Model.Rows)
            {
                    <tr>
                        @foreach (object item in dr.ItemArray)
                        {
                            <td>@item.ToString()</td>
                        }
                        <td>
                            @Ajax.ActionLink("Редактировать", "Edit", 
                           new { id = dr[Model.Columns.Cast<DataColumn>().First(column => column.ColumnName.ContainsIgnoreCase("Id"))].ToString() }, 
                           new AjaxOptions { UpdateTargetId = "ajax" })
                        </td>
                        <td>
                            @Ajax.ActionLink("Удалить", "Delete", 
                           new { id = dr[Model.Columns.Cast<DataColumn>().First(column => column.ColumnName.ContainsIgnoreCase("Id"))].ToString() }, 
                           new AjaxOptions { UpdateTargetId = "ajax" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <br />
        <hr />
    </div>

    @using (Ajax.BeginForm("Add", "DisplayTable", new AjaxOptions {UpdateTargetId = "ajax", HttpMethod = "Get"}))
    {
        <button>Добавить запись</button>
    }

    <div class="left" id="ajax">
    </div>
</div>