@using System.Data
@using System.Xml
@using CursachPrototype.ExtensionMethods
@model DataRow

@if (Model == null)
{
    <b style="color: red;">Произошла ошибка. Заданный ID не найден.</b>
}
else
{
    @:<fieldset>
        using (Html.BeginForm("UploadChanges", "DisplayTable", FormMethod.Post))
    {
        @Html.ValidationSummary()
        for (int i = 0; i < Model.ItemArray.Length; i++)
        {
            var columnInfo = Model.Table.Columns[i];
            object itemValue = Model.ItemArray[i];

            if (columnInfo.ColumnName.ContainsIgnoreCase("ID"))
            {
                <p>@Html.Label(columnInfo.ColumnName) &nbsp;&nbsp;&nbsp;&nbsp; @itemValue</p>
                <input type="hidden" name="ID" value="@itemValue"/>
                continue;
            }

            @Html.Label(columnInfo.ColumnName + "\t") @: &nbsp; &nbsp; &nbsp; &nbsp;
            if (columnInfo.DataType == typeof(int))
            {
                int temp = (int)itemValue;
                <input type="number" name="@columnInfo.ColumnName" value="@temp" />
            }
            else if (columnInfo.DataType == typeof(double))
            {
                double temp = (double)itemValue;
                <input type="number" name="@columnInfo.ColumnName" step="0.00001" value="@temp.ToString("##.#####")" />
            }
            else if(columnInfo.DataType == typeof(DateTime))
            {
                DateTime dt = (DateTime)itemValue;
                <input type="datetime-local" name="@columnInfo.ColumnName" value="@XmlConvert.ToString(dt, XmlDateTimeSerializationMode.Unspecified)"/>
            }
            else
            {
                <input type="text" name="@columnInfo.ColumnName" value="@itemValue.ToString()" />
            }
            <br />
        }

        <input type="submit" />
    }
    @:</fieldset>
}


